
.top
  %header
    .container
      .row
        .col-md-5
          .logo
            %h1
              %a
                We prototype
        .navigation.pull-right
          %a{href: "/"} 
            Start
          %a{href: "technology"} 
            Features
          %a{href: "portfolio"}             
            Portfolio
          %a{href: "contact"}
            Contact


  .hero
    .container
      .row
        .col-md8
          .intro
            %h2
              Idea
              %span.tblue
                \.
              Draft
              %span.tblue
                \.
              Prototype
              %span.tblue
                \.
                
            %p
              Only 
              %span.tblue 
                materialized ideas
              carry value
              %span.tblue
                \.
              
            %p
              Unusual things we handle in stock
              %span.tblue
                \.
              
            %p
              Miracles take a little more time
              %span.tblue
                \.
                
            .applinks
            /   %a
            /     %i.icon-android
            /   %a
            /     %i.icon-apple
            /   %a
            /     %i.icon-windows
                
              
              
              