
.top
  %header
    .container
      .row
        .col-md-6
          .logo
            %h1
              %a
                Prototypujemy
        .navigation.pull-right
          %a
            Start
          %a 
            Możliwości
          %a{href: "/contact"}
            Kontakt


  .hero
    .container
      .row
        .col-md8
          .intro
            %h2
              Idea
              %span.tblue
                \.
              Szkic
              %span.tblue
                \.
              Prototyp
              %span.tblue
                \.
                
            %p
              Tylko 
              %span.tblue 
                zrealizowane pomysły
              są naprawdę wartościowe
              %span.tblue
                \.
              
            %p
              Rzeczy nietypowe załatwiamy od ręki
              %span.tblue
                \.
              
            %p
              Cuda wymagają nieco więcej czasu
              %span.tblue
                \.
                
            .applinks
              %a
                %i.icon-android
              %a
                %i.icon-apple
              %a
                %i.icon-windows
                
              
              
              