
.container.contact
  .row
    .col-md-6
      Prototypuje.my jest tworem powstałym z zapalonych umysłów zamieszkujących Szczecin i okolice. 
    
      Lightec Paweł Zienkiewicz
      ul. Reduty Ordona 72a/1
      71-180 Szczecin
    
      tel. 793 991 220
    .col-md-6
      contact form 
      
  .row
    .col-md-12
      %iframe{width: "100%", height:"350", frameborder:"0", scrolling:"no", marginheight:"0", marginwidth:"0", src: "http://maps.google.pl/maps?f=q&amp;source=s_q&amp;hl=pl&amp;geocode=&amp;q=szczecin&amp;aq=&amp;sll=52.025459,19.204102&amp;sspn=10.961742,28.54248&amp;vpsrc=6&amp;ie=UTF8&amp;hq=&amp;hnear=Szczecin,+Zachodniopomorskie&amp;t=h&amp;ll=53.16324,13.980103&amp;spn=1.15269,2.334595&amp;z=8&amp;output=embed"}
    
    
    
    
