
.container.contact
  .row
    .col-md-6
      Prototypuje.my jest tworem powstałym z zapalonych umysłów zamieszkujących Szczecin i okolice. 
    
      Lightec Paweł Zienkiewicz
      ul. Reduty Ordona 72a/1
      71-180 Szczecin
    
      tel. 793 991 220
    .col-md-6
      contact form 
      
  .row
    .col-md-12
      %iframe{width: "600px", height:"350px", frameborder:"0", scrolling:"no", marginheight:"0", marginwidth:"0", src: "https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=pl&amp;geocode=&amp;q=Szczecin,+Polska&amp;aq=0&amp;oq=szczecin,+&amp;sll=37.0625,-95.677068&amp;sspn=37.325633,63.808594&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=Szczecin,+Wojew%C3%B3dztwo+zachodniopomorskie,+Polska&amp;ll=53.428544,14.552812&amp;spn=3.51529,7.976074&amp;z=7&amp;output=embed"}
    / <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=pl&amp;geocode=&amp;q=Szczecin,+Polska&amp;aq=0&amp;oq=szczecin,+&amp;sll=37.0625,-95.677068&amp;sspn=37.325633,63.808594&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=Szczecin,+Wojew%C3%B3dztwo+zachodniopomorskie,+Polska&amp;ll=53.428544,14.552812&amp;spn=3.51529,7.976074&amp;z=7&amp;output=embed"></iframe>