= css :master
= js :master

= haml :_header, layout: false

.container.contact
  .row
    .col-md-6
      Prototypuje.my jest tworem powstałym z zapalonych umysłów zamieszkujących Szczecin i okolice. 
    
      Lightec Paweł Zienkiewicz
      ul. Reduty Ordona 72a/1
      71-180 Szczecin
    
      tel. 793 991 220
    .col-md-6
      contact form 
      
  .row
    google maps
    
    
    
    
