
.container.contact
  .row
    .col-md-6
      Prototypuje.my jest tworem powstałym z zapalonych umysłów zamieszkujących Szczecin i okolice. 
    
      Lightec Paweł Zienkiewicz
      ul. Reduty Ordona 72a/1
      71-180 Szczecin
    
      tel. 793 991 220
    .col-md-6
      contact form 
      
  .row
    .col-md-12
      %iframe{width: "100%", height:"350", frameborder:"0", scrolling:"no", marginheight:"0", marginwidth:"0", src: "https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=pl&amp;geocode=&amp;q=Szczecin,+Polska&amp;aq=0&amp;oq=szcz&amp;sll=53.429696,14.624624&amp;sspn=0.2156,0.594635&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=Szczecin,+Wojew%C3%B3dztwo+zachodniopomorskie,+Polska&amp;ll=53.429174,14.556885&amp;spn=2.291165,10.986328&amp;z=7&amp;iwloc=A&amp;output=embed"}
    
    
    
    
