.container.contact
  .row
    .col-md-6
      Prototypuje.my jest tworem powstałym z zapalonych umysłów zamieszkujących Szczecin i okolice. 
    
      Lightec Paweł Zienkiewicz
      ul. Reduty Ordona 72a/1
      71-180 Szczecin
    
      tel. 793 991 220
    .col-md-6
      %form
        %fieldset
          %input#name.input-block-level{type:"text", name:"name", placeholder:"Name"}
          %input#email.input-block-level{type:"text", name:"email", placeholder:"Name"}
          %textarea#description.input-block-level{rows:"3", name:"description", placeholder:"Name"}
          %button.btn.btn-warning.pull-right{type:"submit"}
            Submit
            
  .row
    .Flexible-container
      %iframe{width: "600", height:"350", frameborder:"0", scrolling:"no", marginheight:"0", marginwidth:"0", src: "https://maps.google.com/maps?f=q&source=s_q&hl=pl&geocode=&q=Szczecin,+Polska&aq=0&oq=szcz&sll=53.429696,14.624624&sspn=0.2156,0.594635&t=h&ie=UTF8&hq=&hnear=Szczecin,+Wojew%C3%B3dztwo+zachodniopomorskie,+Polska&ll=53.429174,14.556885&spn=2.291165,10.986328&z=7&iwloc=A&output=embed"}

  
  