.container.issues
  .row
    .col-sm-4
      .main-text
        Have you trouble choosing a gift? Would you like to make unique present?
    .col-sm-4
      .main-text
        Are you interior designer with a lot of amazing ideas, but you have no workshop to realize them?
    .col-sm-4
      .main-text
        Have you broken motorcycle or bicycle item? Or perhaps you want something bigger, lighter, better and more pro?
  .row
    .col-sm-4
      .main-text
        Would you decorate your restaurant with innovative decorations? Do you want an unique furniture, with LED backlight, remote controlled?
    .col-sm-4
      .main-text
        Would you have electronic amazing thing, which blinks, buzzez and have colorful bells and whistles with LED display?
    .col-sm-4
      .main-text
        Would you support all items in your e-commerce with 3d photography?

.container.call_for_action
  .row
    .col-xs-12
  
      %h1 It's a place for you!
      
      .row
        .col-md-4
          %p 
            We are open minded, have agile hands and a workshop full of tools and machines which twice our skills.

        .col-md-4
          %p
            Design something amazing. Deliver us a draft with description of your item. We will support you with materialization of your project. 
        .col-md-4
          %p
            We mill metal, cut and bend sheets, print plastics, bend and colorful glass and space-time.
    
  / .container.process_cycle
  / .row
  /   .col-xs-12
  /     %h3
  /       Preferred cooperation cycle 
  / .row
  /   .col-xs-12
  / 
  /     #collaboration-cycle
  /       = img("/images/captions.jpg", :alt => "Obrazek")
  /       = img("/images/features.jpg", :alt => "Obrazek")
  /       = img("/images/coffee.jpg", :alt => "Obrazek")
  /       = img("/images/overflow.jpg", :alt => "Obrazek")
    
.container.technologies
  .row
    .col-xs-12
      %h3
        CNC milling 
      %p
        We have CNC mill with table 600x350mm and milling height approx 240mm. We machine plexiglass, wood, ply, steel and stainless steel.
    
  .row
    .col-xs-12
      %h3
        Turning
      %p
        Our lathe can handle 250x500mm items. 35mm trough spindle. 

  .row
    .col-xs-12
      %h3
        3D Printing
      %p
        ABS and PLA filaments available. 

  .row
    .col-xs-12
      %h3
        Glass manufacturing
      %p
        Graduate from Academy of Arts in Wroclaw is happy to hear about your transparent and fragile ideas.   

  .row
    .col-xs-12
      %h3
        3d scanning
      %p
        Initially scanned item cannot be greater than 300x300x300 mm. However we are during development of bigger scanner. 

  .row
    .col-xs-12
      %h3
        3d photography
      %p
        Our hardware is able to round you and make a set of photos which may be used for 3d photography. 
        We can handle tiny to 1x1x2 meters objects. 

        / https://github.com/peachananr/interactive_3d

  .row
    .col-xs-12
      %h3
        Automation systems
      %p
        Motion control, stepper and servo drives are not an rocket science for our engineers. We have experience in assembly of milling machine control unit based on stepper motors and Yaskawa/Omron Servo Drives. 

    
    
    


 

