.container.issues
  .row
    .col-sm-4
      .main-text
        Masz problem z prezentem. Chciałbyś komuś zrobić nietypowy prezent?
        .btn.btn-primary
          guzik
    .col-sm-4
      .main-text
        Jesteś dekoratorem wnętrz z wieloma fajnymi pomysłami, ale nie masz zaplecza do ich realizacji?
        .btn.btn-primary
          guzik
    .col-sm-4
      .main-text
        Urwałeś element motocykla lub roweru, albo chcesz dorobić większy, lżejszy, lepszy i bardziej pro?
        .btn.btn-primary
          guzik
  .row
    .col-sm-4
      .main-text
        Chcesz wyposażyć swój lokal w innowacyjną dekorację? Chcesz zrobić mebel jedyny w swoim rodzaju? Podświetlany, na pilota?
        
        .btn.btn-primary
          guzik
    .col-sm-4
      .main-text
        Chciałbyś fajne elektroniczne cudo, co świeci i buczy i ma kolorowe przyciski i wyświetlacz ciekłokrystaliczny?
        .btn.btn-primary
          guzik
    .col-sm-4
      .main-text
        Chciałbyś, aby każdy produkt w Twoim sklepie miał fotografię 3d?
        .btn.btn-primary
          guzik

.container.call_for_action
  .row
    .col-xs-12
  
      %h1 To miejsce dla Ciebie!
      
      .row
        .col-md-4
          %p 
            Mamy otwarte umysły, zwinne rączki i dostęp do wielu urządzeń, które potrafią jeszcze więcej.

        .col-md-4
          %p
            Zaprojektuj coś. Dostarcz nam wraz z opisem projekt swojego cośka. Pomożemy w dopracowaniu i realizacji Twojego projektu. 
        .col-md-4
          %p
            Frezujemy i grawerujemy metale, tniemy i skręcamy blachy, drukujemy plastik oraz wyginamy szkło i czasoprzestrzeń.
    
.container.process_cycle
  .row
    .col-xs-12
      %h3
        Preferowany cykl współpracy. 
  .row
    .col-xs-12
  
      #collaboration-cycle
        = img("/images/captions.jpg", :alt => "Obrazek")
        Np slider z Pomysł, Szkic, Szczegóły, Produkcja, Serwis
    

    
    


 

