= css :gallery
.container.portfolio
  .row
    .col-xs-12
      %h2
        Bike seat hinges
      .row
        .col-xs-6
          %h3
            Parameters
          %table.table
            %tr
              %td
                Material
              %td
                Stainless steel
            %tr
              %td
                Width
              %td
                40mm
            %tr
              %td
                Height 
              %td
                60mm
            %tr
              %td
                Metal sheet thickness
              %td
                1,5 mm
            %tr
              %td
                Technology used
              %td
                CNC laser cutting, bending, sanding
            %tr
              %td
                Material finishing
              %td
                Sanding
        .col-xs-6
          %h3
            Gallery
          = haml :_gallery, layout: false
          #links
            %a{"data-gallery" => "", href: "images/portfolio/14-03_bike_seat_hinges/14-03-03_bike_seat_hinges_768_1.jpg", title: "Bike handler"}
              %img{alt: "Bike handler", src: "images/portfolio/14-03_bike_seat_hinges/14-03-03_bike_seat_hinges_thumbs_1.jpg"}/
            %a{"data-gallery" => "", href: "images/portfolio/14-03_bike_seat_hinges/14-03-03_bike_seat_hinges_768_2.jpg", title: "Bike handler"}
              %img{alt: "Bike handler", src: "images/portfolio/14-03_bike_seat_hinges/14-03-03_bike_seat_hinges_thumbs_2.jpg"}/
            %a{"data-gallery" => "", href: "images/portfolio/14-03_bike_seat_hinges/14-03-03_bike_seat_hinges_768_3.jpg", title: "Bike handler"}
              %img{alt: "Bike handler", src: "images/portfolio/14-03_bike_seat_hinges/14-03-03_bike_seat_hinges_thumbs_3.jpg"}/
            %a{"data-gallery" => "", href: "images/portfolio/14-03_bike_seat_hinges/14-03-03_bike_seat_hinges_768_4.jpg", title: "Bike handler"}
              %img{alt: "Bike handler", src: "images/portfolio/14-03_bike_seat_hinges/14-03-03_bike_seat_hinges_thumbs_4.jpg"}/
            %a{"data-gallery" => "", href: "images/portfolio/14-03_bike_seat_hinges/14-03-03_bike_seat_hinges_768_5.jpg", title: "Bike handler"}
              %img{alt: "Bike handler", src: "images/portfolio/14-03_bike_seat_hinges/14-03-03_bike_seat_hinges_thumbs_5.jpg"}/
            %a{"data-gallery" => "", href: "images/portfolio/14-03_bike_seat_hinges/14-03-03_bike_seat_hinges_768_6.jpg", title: "Bike handler"}
              %img{alt: "Bike handler", src: "images/portfolio/14-03_bike_seat_hinges/14-03-03_bike_seat_hinges_thumbs_6.jpg"}/
            %a{"data-gallery" => "", href: "images/portfolio/14-03_bike_seat_hinges/14-03-03_bike_seat_hinges_768_7.jpg", title: "Bike handler"}
              %img{alt: "Bike handler", src: "images/portfolio/14-03_bike_seat_hinges/14-03-03_bike_seat_hinges_thumbs_7.jpg"}/
            %a{"data-gallery" => "", href: "images/portfolio/14-03_bike_seat_hinges/14-03-03_bike_seat_hinges_768_8.jpg", title: "Bike handler"}
              %img{alt: "Bike handler", src: "images/portfolio/14-03_bike_seat_hinges/14-03-03_bike_seat_hinges_thumbs_8.jpg"}/
          
          
= js :gallery
        
        