.container.technologies
  .row
    .col-xs-12
      %h3
        Frezowanie CNC
      %p
        Posiadamy frezarkę CNC, zaawansowany sprzęt radzący sobie z obróbką materiałów o wymiarach do 600x380mm, a przy odpowiedniej gimnastyce nawet większych. 
        Frezujemy i grawerujemy w stali, aluminium, drewnie, plexi i wielu innych materiałach. 
    
  .row
    .col-xs-12
      %h3
        Toczenie
      %p
        Poza toczeniem bitew, czym ciekawym się zająć potrafimy też toczyć przy użyciu tokarki do metalu. Przelot 35mm, maksymalna średnica 250mm, długość elementu 500mm.  

  .row
    .col-xs-12
      %h3
        Drukowanie 3D 
      %p
        Drukujemy filamentem ABS i PLA. Różne kolory. 

  .row
    .col-xs-12
      %h3
        Obróbka szkła 
      %p
        Wykonywana przez wykwalifikowaną kadrę Akademii sztuki we Wrocławiu. Proszę tylko spojrzeć na te ciekawe kształty i kolory. 

  / .row
  /   .col-xs-12
  /     %h3
  /       Skanowanie 3d
  /     %p
  /       Element nie może być większy niż 300x300x300cm. 

  .row
    .col-xs-12
      %h3
        Fotografia 3d
      %p
        Posiadamy sprzęt niezbędny do fotografowania produktów w 360. 
        Możemy sfotografować każdy produkt o wymiarach od mikro do rzędu metr x metr x 2 metry. Nawet Twoją ciocię. 

        / https://github.com/peachananr/interactive_3d

  .row
    .col-xs-12
      %h3
        Inteligentne domy
      %p
        Załoga złożona z geeków i fanów Arduino a także gotowych rozwiązań chętnie oplącze Twój dom siatką sensorów i aktorów, które mogą Ci na czas zrobić kawę, albo włączyć pralkę. 

  .row
    .col-xs-12
      %h3
        Elementy automatyki
      %p
        Sterowniki silników krokowych i serw nie są dla nas żadną tajemnicą. Składamy sterowniki frezarki numerycznej, to i ze sliderem do Twojego aparatu fotograficznego też sobie poradzimy. 

  .row
    .col-xs-12
      %h3
        Elementy ciągów produkcyjnych
      %p
        Mamy doświadczenie w budowie specjalistycznych taśmociągów, podgrzewanych rurociągów do przetwórstwa spożywczego i modernizacjach maszyn CNC do obróbki metalu. 
    